@tailwind base;
@tailwind components;
@tailwind utilities;


.center-text {
    text-align: center;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}

@layer base {
  .titleClass {
    @apply rainbow-text;
    @apply center-text;

  }
}